<!DOCTYPE html> 
<html> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>After Login Page </title>

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    </head>
    <body>
        <center> <h1> Student Page </h1> </center> 
        <form>
        <div class="container">
        <a href="StudentSchedule.html"><input type="button" value="Student Schedule" class="button1 a"> </a>
        <br><br>
        <a href="StudentPlan.html"><input type="button" value="Student Plan" class="button1 a"> </a>
        <br><br>
        <a href="StudentRegistration.html"><input type="button" value="Student Registration" class="button1 a"> </a>
        <br><br>
        <button type="button" onclick="alert('500!')" class="button1 a">Financial Records</button>

    </div>
    
    </body>

</html>