<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script> 
    </head>
    <body>
        <div class="hero">
        <div class="form-box">
        <a href="login.html"><input type="button" value="Login" class="button a"> </a>
        <a href="about.html"><input type="button" value="About" class="button a"> </a>
        <a href="StudentRegistration.html"><input type="button" value="contact" class="button a"> </a>
        <a href="FinancialRecords.html"><input type="button" value="How to use" class="button a"> </a>
        </div>
    </div>
    </body>

</html>