<html>
    <head>
        <title>Main Page</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script> 
    </head>
    <body>
        <div class="hero">
          <div class="banel">
        <a href="{{ url_for('login') }}"value="Login" class="button"> login</a>
         <a href="{{ url_for('about') }}" value="About" class="button">about </a>
       <a href="{{ url_for('contact') }}" value="contact" class="button"> contact</a>
           <a href="/Howtouse" value="How to use" class="button "> how to use</a>
          </div>  
    </div>
    </body>
<Script>

 if(annyang) {
    
    var commands = {
       'دخول':function(){     
           document.getElementsByClassName("button")[0].click();
      },
       'معلومات':function(){
        window.location.replace("http://127.0.0.1:9000/about ")

      },
      'تواصل':function(){
        document.getElementsByClassName("button")[2].click();

       },
      'كيفيه الاستخدام':function(){
        document.getElementsByClassName("button")[3].click();
       },
      
      }
    };
    annyang.setLanguage('ar-JO');
    // Add our commands to annyang
    annyang.addCommands(commands);
  

    annyang.start({ autoRestart: true, continuous: true });

</script>
</html>